[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ngramrr"]
	path = ngramrr
	url = https://github.com/chainsawriot/ngramrr
[submodule "sehrnett"]
	path = sehrnett
	url = https://github.com/chainsawriot/sehrnett
